@model TeamDevProject.Models.TestQuestions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestQuestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Test)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.TestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
