@model IEnumerable<TeamDevProject.Models.TestQuestions>;

@{
    ViewData["Title"] = "TakeTest";
}

<h2>TakeTest</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>@Html.DisplayNameFor(model => model.Answer1)</th>
            <th>@Html.DisplayNameFor(model => model.Answer2)</th>
            <th>@Html.DisplayNameFor(model => model.Answer3)</th>
            <th>@Html.DisplayNameFor(model => model.Answer4)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer4)
                </td>
            </tr>
        }
            
    </tbody>
</table>

